# Uncomment this line if you want to use torch with CUDA support
# --extra-index-url https://download.pytorch.org/whl/cu130

# Credentials
python-dotenv

# Data
matplotlib
pandas
numpy
jours_feries_france
vacances_scolaires_france


# Machine Learning
scikit-optimize
xgboost
catboost
lightgbm
codecarbon

prophet

# Deep Learning
torch


# Misc
requests
tqdm
google-cloud-bigquery
